<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    {% load markdown_extras %}
    <link rel="shortcut icon" href="{% static 'blog/images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'blog/lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,400,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda:100,200,400,900">
    <link rel="stylesheet" href="{% static 'blog/lib/highlight/styles/github.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/_all.css' %}">
    {% block style %} {% endblock %}
    <title>{% block title %} My blog {% endblock %}</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fixed-top" id="nav">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            {% include "./navbar.html" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="main">
                    <div class="container">
                        {% block content %}{% endblock %}
                    </div>
            </div>
        </div>
    </div>

    {% include "./footer.html" %}

    {% block script %} {% endblock %}
    <script src="{% static 'blog/lib/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'blog/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/lib/highlight/highlight.pack.js' %}"></script>
    <script src="{% static 'blog/js/script.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
