#left {
    padding-left: 0;
}

#bottom > div {
    margin: 15px auto;
}

.section-heading {
    background-color: hsla(192, 23%, 50%, .5);
    padding: 7px 15px;
    width: 100%;
}

.post-title {
    color: rgba(4, 119, 145, 0.9);
}

.post-tags {
    font-size: 12px;
}

.post-tags li{
    display: inline-block;
}

.post-tags > * {
    display: inline;
    width: fit-content;
}

.post-tags ul {
    padding: 0;
}

.post-box {
    margin: 15px 15px 15px 0;
    width: 30%;
}
